

/* NAVBER CSS START */
.nav-right{
  justify-content: flex-end;
  width: 100%;
}
.nav-right a:hover{
  background-color:white;
  color: black;
  border-radius: 20px;
  padding: 10px;
}
/* NAVBER CSS END */

/*  */
#sty{
  background-color: rgb(231, 199, 188);
}
.sub{
  background-color: brown;
}
/*  */

/* Analytics & Research START */
.card-body{
  width: 300px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
}
.card:hover{
  background-color: orange;
  color:white;
}
.body-card:hover{
  background-color:green;
  color: white;
}
.body:hover{
  background-color:red;
  color: white;
}
.icon{
  font-size: 50px;
 width: 100px;
 color: rgb(64, 9, 194);
  text-align: center;
  border-radius:50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* Analytics & Research END */

/* Facts start */

#facts{
  background-image: url(https://media.istockphoto.com/id/825383494/photo/business-man-pushing-large-stone-up-to-hill-business-heavy-tasks-and-problems-concept.jpg?s=612x612&w=0&k=20&c=wtqvbQ6OIHitRVDPTtoT_1HKUAOgyqa7YzzTMXqGRaQ=);
  height: 100vh;
  padding: 30px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.fac{
  width: 130px;
  height: 130px;
  background-color:orange;
  border-radius: 50%;
  padding: 30px;
}
/* Facts End */

/* We have Start */
#ww{
  background-color: orange;
  padding: 20px;
}
.have{
  width:100%;
}
.ty{
 color: orange;
  text-align: center;
}
/* We have End */

/* Our Amazing Services Start */
.ama{
  width: 300px;
  height: 300px;
  text-align: center;
  padding: 15px;
}
.ama:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(19, 18, 18);
  background-color: rgb(209, 87, 71);
  border-radius: 20px;
}
/* Our Amazing Services End */


/* Our Recent Works Start */
.wor{
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.wor img{
  width: 100%;
  height: 100%;
}
.lig{
  width: 100%;
  height: 60px;
  background-color: rgb(113, 113, 190);
  position: absolute;
  bottom: -65px;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  font-size: 45px;
  align-items: center;
  padding: 0px 20px;
  color: white;
}
.wor:hover .lig{
  bottom: 0px;
}
.wor:hover .overly{
  background-color: black;
  width: 100%;
  height: 100%;
  opacity:0.4;
  position: absolute;
}
/* Our Recent Works End */




/* Our Recent Work */
.nav-ri{
  justify-content: flex-end;
  width: 65%;
}
.nav-ri a:hover{
  background-color: rgb(102, 102, 216);
  color: white;
  border-radius: 20px;
  padding: 5px;
}
/* Our Recent Work */


/* Our Team Start */
.htt{
  width: 100%;
  overflow: hidden;
  transition: 0.1s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.tem img:hover{
  transform: scale(1.3);
}
.am{
  text-align: center;
}
/* Our Team End */


/* Our Pricing start */
.pri{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 300px;
  height: 350px;
  padding: 10px;
  text-align: center;
}
.spa{
  font-size: 30px;
  
}
.sty{
  color: gray;
}
.mit{
  color: black;
  
  display: inline-block;
  padding:5px 15px;
  border-radius: 10px;
}
.ri:hover{
  transform: scale(1.1);
  background-color: rgb(233, 191, 191);
}
.pi:hover{
  transform: scale(1.1);
  background-color: rgb(206, 206, 221);
}
.pr:hover{
  transform: scale(1.1);
  background-color: rgb(240, 240, 182);
}
/* Our Pricing End */

/* Swper Start */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Castom Swper */
.ind{
  max-width: 300px;
  max-height: 450px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
}
.ind:hover{
  background-color: rgb(238, 156, 235);
  border-radius: 30px;
}
.tm{
  color: orangered;
  font-size: 70px;
}
.wid{
  width: 60px;
  height: 60px;
  border-radius:40%;
  text-align: center;
  margin-left: 100px;
}
/* Swper ENd */


/* Latest News start */
.last{
 max-width: 350px;
  max-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ws{
  padding: 15px;
}

/* Latest News End */


/* Coontas Start */
.fff input{
  max-width: 300px;
  border-radius: 20px;
  padding: 10px;
}
.us{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 20px;
  background-color: rgb(231, 197, 134);
  border-radius: 25px;
  color: navy;
}
form{
  background-color: rgb(226, 188, 116);
  padding: 20px;
  border-radius: 25px;
}
/* Contacts End */

/* Subscribe to our newsletter start */

#sub{
  background-color: rgb(243, 219, 175);
  padding: 20px;
}
.bm{
  background-color: orangered;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
}
/* Subscribe to our newsletter end */



/* Last Colom Start  */
.ppp{
  padding:0px;
}
.sen i{
  padding:10px;
  font-size: 20px;
  color: blue;
}
/* Last colom End */

/* Footer Start */
footer{
  text-align: center;
  padding: 20px;
  background-color: orange;
}
/* footer End  */